.heroBanner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.heroBanner .content {
  text-align: center;
}

.heroBanner .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.heroBanner .content p {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.heroBanner .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.discoverBtn {
  border: 1px solid orange;
  background: orange;
  padding: 8px 20px;
  color: #fff;
  transition: 0.5s;
}

.discoverBtn:hover {
  background: transparent;
}

@media screen and (max-width: 992px) {
  .heroBanner .content h3 {
    font-size: 1.5rem;
  }
  .heroBanner .content p {
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem 0;
  }
}
